@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  background-image: url("./fondo-morado.png");
  background-attachment: fixed;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.logo-index {
  text-decoration: none;
}

.capa {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.322);
  z-index: -1;
  top: 0;
  left: 0;
}

/* Header Styles */
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container .btn-menu,
.logo {
  float: left;
  line-height: 100px;
}

.container .btn-menu label {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.logo h1 {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  margin-left: 10px;
}

.container .menu {
  float: right;
  line-height: 100px;
}

.container .menu a {
  display: inline-block;
  padding: 0 15px 15px 15px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease; 
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}

.container .menu a:hover {
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 5px;
}

/* Sidebar Menu */
#btn-menu {
  display: none;
}

.container-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}

.cont-menu {
  width: 100%;
  max-width: 250px;
  background: #1c1c1c;
  height: 100vh;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}

.cont-menu nav {
  transform: translateY(15%);
}

.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #c7c7c7;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}

.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #1f1f1f;
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

/* Titles */
p {
  color: lightgrey;
  text-align: left;
  margin: 1% auto 1% 1.75rem;
}

h1 {
  color: rgb(181, 147, 206);
  margin-left: 1.75rem;
  margin-top: auto;
}

.centrar {
  text-align: center;
  margin-top: 1rem;
}

h3 {
  color: rgb(156, 156, 219);
  margin-left: 0.75rem;
}

.contenido {
  z-index: 1;
  margin-top: 15%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

li {
  z-index: 1;
  margin: 0.2rem 0 0 0.75rem;
}

.proceso {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  color: lightgoldenrodyellow;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.proceso-hijos {
  margin: 1rem;
  display: block;
  justify-content: center;
  width: 30%;
  height: auto;
}

.img-promedio {
  width: 320px;
  height: 320px;
  border-radius: 20px;
}

.img-rectangulo {
  width: 280px;
  height: 320px;
  border-radius: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    position: absolute;
    background-color: rgb(38, 3, 63);
    height: auto;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align items */
    justify-content: center; /* Center-justify items */
  }
  .container {
    width: 100%; /* Ensure the container takes full width */
    text-align: center; /* Center text within the container */
  }
  .container .menu {
    line-height: normal;
    float: none;
  }
  .container .btn-menu {
    display: flex; /* Use flex to align items */
    align-items: center; /* Center the button vertically */
    margin-right: 10px;
    margin-left: 25%;  
  }
  .logo {
    display: flex; /* Use flex to align items */
    align-items: center; /* Center the logo vertically */
  }


  .proceso {
    flex-direction: column;
    align-items: center;
  }

  .proceso-hijos {
    width: 80%; /* Adjust width for mobile */
  }

  .img-promedio {
    width: 320px;
    height: 320px;
    border-radius: 20px;
  }


  .img-rectangulo {
    width: 280px;
    height: 320px;
    border-radius: 20px; /* Tengo el control de vuelta */ 
  }

  .contenido {
    margin-top: 8rem; 
  }

  .li {
    list-style: none;
  }

  .container .menu a {
    font-size: 8px;
    float: none;
    align-items: center;
  }

  .logo h1 {
    font-size: 15px; /* Se ve muy grande en cel, por eso lo achico*/
  }
}
